body {
    background-color: #ffc2c2;
}

.parent {
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: repeat(12, 1fr);
grid-column-gap: 2px;
grid-row-gap: 2px;
}

.div1 { grid-area: 1 / 1 / 2 / 13; }
.div2 { grid-area: 2 / 1 / 5 / 13; }
.div3 { grid-area: 5 / 1 / 9 / 4; }
.div4 { grid-area: 5 / 4 / 9 / 7; }
.div5 { grid-area: 5 / 7 / 9 / 10; }
.div6 { grid-area: 5 / 10 / 9 / 13; }
.div7 { grid-area: 9 / 1 / 13 / 4; }
.div8 { grid-area: 9 / 4 / 13 / 7; }
.div9 { grid-area: 9 / 7 / 13 / 10; }
.div10 { grid-area: 9 / 10 / 13 / 13; }

.nav-list{
    background: #a52121;
    box-shadow: 0px 0px 10px var(--clr-black200);
    margin: 0;
    padding: 1rem 0;
    border-radius: var(--radius);
    display: flex;
    justify-content: flex-end;
    align-items center;
}

.nav-item{
    list-style: none;
    margin-right: 2rem;
}

.nav-item a {
    text-decoration: none;
    color: black;
}

.nav-item: first-child{
    margin-right: auto;
    margin-left: 2rem;
}

.button {
    font-family: Graduate;
    font-size: 1rem;
    background: var(--clr-primary);
    border: none;
    outline: none;
    border-radius: var(--radius);
    padding: 0.5rem 1 rem;
    cursor: pointer;
}



.header {
font size: 50%;
text-align: center;
border-style: solid;
}

.logo {
text-align: center;
border-style: solid;
}
